.table {
    display: table;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    vertical-align: middle;
}

body {
    font: 12px/18px Arial, sans-serif;
    background: #696969;
    margin: 0; /* Убираем отступы */
}
.container {
    width: 90vw;
    height:97vh;
    margin: 0 auto; /* Выравнивание по центру */
    position: relative; /* Относительное позиционирование */
    background: #FFD700; /* Цвет фона левой колонки */
}

/* Header
-----------------------------------------------------------------------------*/
.header {
    height: 60px;
    background: #FFA07A;
    font: 20px Arial;
    font-style: italic;
}
.logo {
    font: 18px Arial;
    font-style: italic;
    padding: 5px 0 0 20px;
}
.logout {
    font: 16px Arial;
    text-align: right;
    padding-right: 10px;
}

/* Left Sidebar
-----------------------------------------------------------------------------*/
.sidebar {
    margin-top: 10px;
    width: 250px;
    padding: 0 10px; /* Отступы вокруг текста */
    font: 18px "Segoe Script";
    font-style: italic;
}

/* Middle
-----------------------------------------------------------------------------*/
.main {
    position: absolute; /* Абсолютное позиционирование */
    left: 270px; /* Отступ слева */
    top: 60px;
    bottom: 30px;
    right: 0px;
    overflow: auto;
    background: #E0FFFF; /* Цвет фона правой колонки */
}
.main_content {
    padding: 10px;
    font-size: 14px;
}

.main_content_30 {
    padding: 20px 30px;
    font-size: 14px;
}
.main_login {
    padding: 10px;
    font-size: 14px;
    text-align: center;
}
.enter {
    font: 30px Arial;
    text-align: center;
}

/* Добавлено Минеевой Ю.Н. ниже*/
.login {
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

.dashboard {
    padding: 10px;
    font-size: 18px;
    text-align: center;
}

label, input[type=text] {
    display: inline-block;
    vertical-align: middle;
    horiz-align: center;
}

label {
    width: 120px;
    text-align: right;
}

input[type=text] {
    width: 49%;
}

/* Добавлено Минеевой Ю.Н. выше*/

.registr_content {
    width: 100%;
    font-size: 16px;
    padding: 20px 0 0 0;
}

.registr_table {
    display: table;
    border-spacing: 4px;
    margin: auto;
}

.registr_block {
    text-align: center;
    padding: 8px 0;
}

/*table common style*/
.table_list {
    margin: 4px 0;
    border-collapse: collapse;
}

.cell_list {
    border: solid 1px;
    padding: 3px;
    vertical-align: top;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
    position: absolute; /* Абсолютное позиционирование */
    left: 0px; /* Отступ слева */
    bottom: 0px;
    right: 0px;
    height: 30px;
    background: #FFA07A;
}
.footer_content{
    text-align: center;
    font: 14px Arial;
    font-style: italic;
    padding: 7px;
}